body {
    background: -moz-radial-gradient(#2b2b2b, #000000);
    background: -webkit-linear-gradient(top, #2b2b2b, #000000);
    background: -o-linear-gradient(top, #2b2b2b, #000000);
    background: -ms-linear-gradient(top, #2b2b2b, #000000);
    width: 100%;
    height: 100vh;
    /*overflow: hidden;*/
    margin: 0;
}

/*::-webkit-scrollbar-track{border-radius: 10px; box-shadow: inset 0 0 5px gray;}*/
/*::-webkit-scrollbar-thumb{border-radius: 10px; box-shadow: inset 0 0 5px gray;}*/
a {
    text-decoration: none;
    color: #ffffff
}

@font-face {
    font-family: "AC Boucle";
    src: url("/fonts/ACBoucle.ttf") format("ttf"),
    url("/fonts/ACBoucle.eot") format('eot');
}

.your-style {
    font-family: 'AC Boucle', serif;
    font-weight: normal;
    font-style: normal;
    text-align: center;
    color: #ffffff;
    font-size: 64px;
    margin-top: 10px;
}

.your-style-h1 {
    font-family: 'AC Boucle', serif;
    font-weight: normal;
    font-style: normal;
    text-align: left;
    color: #3f3d3d;
    font-size: 56px;
    margin-top: 10px;
}

.your-style-h2 {
    font-family: 'AC Boucle', serif;
    font-weight: normal;
    font-style: normal;
    text-align: center;
    color: #3f3d3d;
    font-size: 56px;
    margin-top: 10px;
}

#line {
    width: 100%;
    height: 9px;
    background: #ababab;
    margin: -30px auto auto 0;

}

#table1 {
    width: 1116px;
    height: 608px;
    background: #d2cdcd;
    border-radius: 20px;
    margin: 80px auto auto auto;
    display: grid;
    grid-template-columns: 1fr 0.5fr;
    grid-template-areas: 'info1 search1';
    grid-template-rows: 1fr;
    /*margin-top: 80px;*/

}

#info {
    width: 100%;
    height: 100%;
    grid-area: info1;
    display: block;
    overflow-y: scroll;
    overflow-x: hidden;

}

#search {
    width: 100%;
    height: 90%;
    grid-area: search1;
    border-left: 2px solid #000000;
    display: block;
    text-align: center;
}

#main_info {
    width: 100%;
    height: 100%;
    grid-area: mi;
    display: block;
    margin: 20px;


}

#department_name {

    height: 100%;
    width: 100%;
    grid-area: dn;
    border-bottom: 1px solid #3f3d3d;
}

#department_salary {

    height: 100%;
    width: 100%;
    grid-area: ds;
    /*margin-left: 100px;*/
    border-bottom: 1px solid #3f3d3d;

}

#info_image {
    grid-area: ii;
    margin: auto;
}

#main_info_block {
    display: grid;
    grid-template-columns: 100px 300px 300px;
    grid-template-areas: 'ii dn ds';
    margin-bottom: 35px;
}

.search_input {
    font-family: 'AC Boucle', serif;
    font-weight: normal;
    font-style: normal;
    text-align: left;
    font-size: 30px;
    width: 80%;
    height: 50px;
    border-radius: 10px;
    margin-bottom: 20px;
    border: none;
    padding-left: 15px;


}

#search_button {
    font-family: 'AC Boucle', serif;
    font-weight: normal;
    font-style: normal;
    text-align: center;
    width: 30%;
    height: 55px;
    border-radius: 10px;
    margin-bottom: 20px;
    border: none;
    background-color: #7d7a7a;
    font-size: 48px;
    color: #ffffff;
    padding-bottom: 10px;


}

#search_title {
    margin: 30px 0;
}

#table2 {
    width: 1757px;
    height: 608px;
    background: #d2cdcd;
    border-radius: 20px;
    margin: 80px auto auto auto;
    display: grid;
    grid-template-columns: 1fr 400px;
    grid-template-areas: 'info1 search1';
    grid-template-rows: 1fr;
    /*margin-top: 80px;*/

}

#info1 {
    width: 100%;
    height: 100%;
    grid-area: info1;
    display: block;
    overflow-y: scroll;
    overflow-x: hidden;


}

#search1 {
    width: 100%;
    height: 85%;
    grid-area: search1;
    display: block;
    text-align: left;
    border-left: 2px solid #000000;
    margin-left: 30px;

}

#main_info1 {
    width: 100%;
    height: 100%;
    grid-area: mi;
    display: block;
    margin: 20px;


}

#department_name1 {

    height: 100%;
    width: 100%;
    grid-area: dn;
    border-bottom: 1px solid #3f3d3d;
}

#department_salary1 {

    height: 100%;
    width: 100%;
    grid-area: ds;
    border-bottom: 1px solid #3f3d3d;

}

#department_department1 {

    height: 100%;
    width: 100%;
    grid-area: dd;
    border-bottom: 1px solid #3f3d3d;
}

#department_date1 {

    height: 100%;
    width: 100%;
    grid-area: dd1;
    border-bottom: 1px solid #3f3d3d;

}

#main_info_block1 {
    display: grid;
    grid-template-columns: 100px 1fr 1fr 1fr 1fr;
    grid-template-areas: 'ii dn dd ds dd1';
    margin-bottom: 35px;
    /*position: fixed;*/
}


#info_image1 {
    grid-area: ii;
    margin: auto;
}

.search_input11 {
    font-family: 'AC Boucle', serif;
    font-weight: normal;
    font-style: normal;
    text-align: left;
    font-size: 30px;
    width: 70%;
    height: 50px;
    border-radius: 10px;
    margin-bottom: 20px;
    border: none;
    padding-left: 15px;
    margin-left: 30px;


}

#search_button1 {
    font-family: 'AC Boucle', serif;
    font-weight: normal;
    font-style: normal;
    text-align: center;
    width: 30%;
    height: 55px;
    border-radius: 10px;
    margin-bottom: 20px;
    border: none;
    background-color: #7d7a7a;
    font-size: 44px;
    color: #ffffff;
    padding-bottom: 10px;
    margin-left: 40px;


}

#search_title1 {
    margin: 30px;
}

.search_input12 {
    font-family: 'AC Boucle', serif;
    font-weight: normal;
    font-style: normal;
    text-align: left;
    font-size: 25px;
    width: 30%;
    height: 50px;
    border-radius: 10px;
    margin-bottom: 20px;
    border: none;
    padding-left: 15px;
}

.input_title1 {
    font-family: 'AC Boucle', serif;
    font-weight: normal;
    font-style: normal;
    text-align: left;
    font-size: 40px;
    margin: 0;
    padding-left: 40px;
    color: #3f3d3d;

}

#table3 {
    width: 1116px;
    height: 650px;
    background: #d2cdcd;
    border-radius: 20px;
    margin: 80px auto auto auto;
    display: block;

    /*margin-top: 80px;*/

}

#info_block_department {
    display: block;
    margin: 0 auto;
    width: 50%;

}

.department_first_line {
    display: inline-flex;
    height: 50px;
}

.department_second_line {
    display: inline-flex;
    height: 50px;
}

.department_first_line p:first-child {
    width: 250px
}

.department_first_line p:last-child {
    margin-left: 70px
}

.department_second_line p:first-child {
    width: 250px
}

.department_second_line p:last-child {
    margin-left: 70px;
    width: 300px;
}

.your-style-h3 {
    font-family: 'AC Boucle', serif;
    font-weight: normal;
    font-style: normal;
    text-align: left;
    color: #3f3d3d;
    font-size: 40px;
    margin-top: 10px;
}

#employee_img {
    width: 35px;
    height: 35px;
    color: black;
}

.your-style-h4 {
    font-family: 'AC Boucle', serif;
    font-weight: normal;
    font-style: normal;
    text-align: center;
    color: #3f3d3d;
    font-size: 56px;
    margin: 0 auto;
}

.your-style-h5 {
    font-family: 'AC Boucle', serif;
    font-weight: normal;
    font-style: normal;
    text-align: center;
    color: #3f3d3d;
    font-size: 45px;
    margin-top: 50px;
    margin-bottom: 10px;
}

#info2 {
    width: 100%;
    max-height: 270px;
    grid-area: info1;
    display: block;
    overflow-y: scroll;
    overflow-x: hidden;
    margin-right: 20px;

}

/*#info2::-webkit-scrollbar-thumb{outline: 1px solid slategray;}*/
#main_info2 {
    width: 100%;
    height: 100%;
    display: block;
    margin: 20px;
}

#main_info_block2 {
    display: grid;
    grid-template-columns: 100px 1fr 1fr 1fr;
    grid-template-areas: 'ii dn ds dd1';
    margin-bottom: 35px;
    /*position: fixed;*/
}

.your-style-h6 {
    font-family: 'AC Boucle', serif;
    font-weight: normal;
    font-style: normal;
    text-align: center;
    color: #3f3d3d;
    font-size: 45px;
    margin-top: 5px;
    margin-bottom: 0;
    height: 50px;
}

#main_info_block3 {
    display: grid;
    grid-template-columns: 40px 1fr 1fr 1fr;
    grid-template-areas: 'ii dn ds dd1';
    margin-bottom: 5px;
    /*position: fixed;*/
}

#danylo {
    font-family: 'AC Boucle', serif;
    font-weight: normal;
    font-style: normal;
    text-align: center;
    width: 10%;
    height: 55px;
    border-radius: 10px;
    border: none;
    background-color: #7d7a7a;
    font-size: 44px;
    color: #ffffff;
    padding-bottom: 10px;
    margin: 0 auto;

}

.department_input {
    font-family: 'AC Boucle', serif;
    font-weight: normal;
    font-style: normal;
    text-align: left;
    font-size: 30px;
    width: 25%;
    height: 50px;
    border-radius: 10px;
    margin-bottom: 20px;
    border: none;
    padding-left: 15px;
    padding-top: 10px;


}

#create_department {
    font-family: 'AC Boucle', serif;
    font-weight: normal;
    font-style: normal;
    text-align: center;
    width: 18%;
    height: 60px;
    border-radius: 10px;
    margin-bottom: 20px;
    border: none;
    background-color: #7d7a7a;
    font-size: 48px;
    color: #ffffff;
    padding-bottom: 10px;


}

#dep_creation {
    text-align: center;
    margin-top: 5px;
    margin-bottom: 5px;

}

#danylo_add {
    text-align: center;
    margin-top: 5px;
    margin-bottom: 5px;
}

#header_1 {
    display: inline-flex;
    margin: 13px 10px 0 10px;
    text-align: center;
    width: 100%;
}

#a_1 {
    margin: auto 0;
    text-align: center;
}

#a_2 {
    margin: auto 0;
    text-align: center;
    padding-right: 30px;
}

#table4 {
    width: 555px;
    height: 620px;
    background: #d2cdcd;
    border-radius: 20px;
    margin: 80px auto auto auto;
    display: block;

    /*margin-top: 80px;*/

}

#employee_pht {
    text-align: center;
}

.your-style-h8 {
    font-family: 'AC Boucle', serif;
    font-weight: normal;
    font-style: normal;
    text-align: center;
    color: #3f3d3d;
    font-size: 56px;
    margin-top: 0px;
    margin-right: auto;
    margin-bottom: 0px;
    margin-left: auto;
}

.your-style-h9 {
    font-family: 'AC Boucle', serif;
    font-weight: normal;
    font-style: normal;
    text-align: left;
    color: #3f3d3d;
    font-size: 46px;
    margin-top: 5px;
    margin-right: auto;
    margin-bottom: 0px;
    margin-left: 70px;
}

#edit_employee {
    font-family: 'AC Boucle', serif;
    font-weight: normal;
    font-style: normal;
    text-align: center;
    width: 25%;
    height: 55px;
    border-radius: 10px;
    border: none;
    background-color: #7d7a7a;
    font-size: 44px;
    color: #ffffff;
    padding-bottom: 10px;
    margin: 0 auto;

}

#table5 {
    width: 555px;
    height: 210px;
    background: #d2cdcd;
    border-radius: 20px;
    margin: 80px auto auto auto;
    display: block;

    /*margin-top: 80px;*/

}

#department_new_name {
    font-family: 'AC Boucle', serif;
    font-weight: normal;
    font-style: normal;
    text-align: left;
    font-size: 35px;
    width: 30%;
    height: 56px;
    border-radius: 10px;
    margin-bottom: 3px;
    border: none;
    padding-left: 15px;


}

#change_name_dep {
    text-align: center;
}

#header_2 {
    display: inline-flex;
    margin: 13px 10px 4px 10px;
    text-align: center;
    width: 100%;
}

#change_name_emp {
    text-align: center;
}

#change_birthday {
    text-align: center;
}

#change_emp_salary {
    text-align: center;
}

#employee_new_name {
    font-family: 'AC Boucle', serif;
    font-weight: normal;
    font-style: normal;
    text-align: left;
    font-size: 35px;
    width: 50%;
    height: 56px;
    border-radius: 10px;
    margin-bottom: 3px;
    border: none;
    padding-left: 15px;


}

#employee_new_birthday {
    font-family: 'AC Boucle', serif;
    font-weight: normal;
    font-style: normal;
    text-align: left;
    font-size: 35px;
    width: 40%;
    height: 56px;
    border-radius: 10px;
    margin-bottom: 3px;
    border: none;
    padding-left: 15px;


}

#employee_new_salary {
    font-family: 'AC Boucle', serif;
    font-weight: normal;
    font-style: normal;
    text-align: left;
    font-size: 35px;
    width: 25%;
    height: 56px;
    border-radius: 10px;
    margin-bottom: 3px;
    border: none;
    padding-left: 15px;


}

#change_dep_emp {
    text-align: center;
}

#employee_new_dep {
    font-family: 'AC Boucle', serif;
    font-weight: normal;
    font-style: normal;
    text-align: left;
    font-size: 35px;
    width: 38%;
    height: 56px;
    border-radius: 10px;
    margin-bottom: 3px;
    border: none;
    padding-left: 15px;


}

#add_employee {
    text-align: center;
}

#new_employee_birthday {
    font-family: 'AC Boucle', serif;
    font-weight: normal;
    font-style: normal;
    text-align: left;
    font-size: 35px;
    width: 50%;
    height: 56px;
    border-radius: 10px;
    margin-bottom: 3px;
    border: none;
    padding-left: 15px;


}

#new_employee_salary {
    font-family: 'AC Boucle', serif;
    font-weight: normal;
    font-style: normal;
    text-align: left;
    font-size: 35px;
    width: 50%;
    height: 56px;
    border-radius: 10px;
    margin-bottom: 3px;
    border: none;
    padding-left: 15px;


}

.your-style-h10 {
    font-family: 'AC Boucle', serif;
    font-weight: normal;
    font-style: normal;
    text-align: center;
    color: #3f3d3d;
    font-size: 46px;
    margin-top: 5px;
    margin-right: auto;
    margin-bottom: 0px;
    margin-left: auto;
}

#_add {

    text-align: center;
    margin-bottom: 5px;
    margin-top: 10px;
}

.your-style-h11 {
    font-family: 'AC Boucle', serif;
    font-weight: normal;
    font-style: normal;
    text-align: left;
    color: #3f3d3d;
    font-size: 36px;
    margin-top: 5px;
    margin-right: auto;
    margin-bottom: 0px;
    margin-left: 140px;
}

#add_employee1 {
    font-family: 'AC Boucle', serif;
    font-weight: normal;
    font-style: normal;
    text-align: center;
    width: 25%;
    height: 55px;
    border-radius: 10px;
    border: none;
    background-color: #7d7a7a;
    font-size: 44px;
    color: #ffffff;
    padding-bottom: 10px;
    margin: 0 auto;
    margin-top: 5px;

}

#add_employee2 {
    font-family: 'AC Boucle', serif;
    font-weight: normal;
    font-style: normal;
    text-align: center;
    width: 25%;
    height: 55px;
    border-radius: 10px;
    border: none;
    background-color: #7d7a7a;
    font-size: 44px;
    color: #ffffff;
    padding: 7px 40.86px 7px 40.86px;
    margin: 0 auto;
    margin-top: 5px;

}
.your-style-404 {
    font-family: 'AC Boucle', serif;
    font-weight: normal;
    font-style: normal;
    text-align: center;
    color: #ffffff;
    font-size: 154px;
    margin-top: 250px;
    margin-bottom: 0;
    height: 150px;
}
.your-style-error {
    font-family: 'AC Boucle', serif;
    font-weight: normal;
    font-style: normal;
    text-align: center;
    color: #ffffff;
    font-size: 64px;
    margin-top: 0;
    margin-bottom: 0;
}
.your-style-page-not-exist {
    font-family: 'AC Boucle', serif;
    font-weight: normal;
    font-style: normal;
    text-align: center;
    color: #ffffff;
    font-size: 24px;
    margin-top: 0;
}

#error_page{
    text-align: left;
}
