{% extends 'base.html' %}
{% block title %}Departments{% endblock %}

{% block content %}
    <div id="table1">
        <div id="info">
            <div id="main_info">
                <div id="main_info_block">
                    <div id='info_image'></div>
                    <div id="department_name" class="your-style-h1">Department</div>
                    <div id="department_salary " class="your-style-h2">AVG salary</div>
                </div>
                {% for departament in departments %}
                    <div id="main_info_block">
                        <img id='info_image' src="{{ url_for('static', filename='images/info.png') }}">
                        <div id="department_name" class="your-style-h1">{{ departament['name'] }}</div>
                        <div id="department_salary" class="your-style-h1">{{ departament['avg_salary'] }} $</div>
                    </div>
                {% endfor %}
            </div>
        </div>
        <form method="post">
            {{ form.hidden_tag() }}
            <div id="search">
                <div id="search_title" class="your-style-h2">Search</div>
                {{ form.name(class='search_input', placeholder="Department name") }}
                {{ form.min_avg_salary(class='search_input', placeholder="Min AVG salary") }}
                {{ form.max_avg_salary(class='search_input', placeholder="Max AVG salary") }}
                {{ form.min_employee(class='search_input', placeholder="Min amount of employees") }}
                {{ form.max_employee(class='search_input', placeholder="Max amount of employees") }}
                {{ form.find(id='search_button', value="Find") }}
            </div>
        </form>
    </div>
{% endblock content %}