{% extends 'base.html' %}
{% block title %}Employee{% endblock %}

{% block content %}
    <div id="table2">
        <div id="info1">
            <div id="main_info1">
                <div id="main_info_block1">
                    <div id='info_image1'></div>
                    <div id="department_name1" class="your-style-h1">Name</div>
                    <div id="department_department1" class="your-style-h2">Department</div>
                    <div id="department_salary1" class="your-style-h2">Salary</div>
                    <div id="department_date1" class="your-style-h2">Date of birth</div>
                </div>
                {% for employee in employees %}
                    <div id="main_info_block1">
                        <a id="a_1" href="/employees/{{ employee['id']}}"><img id='info_image1' src="{{ url_for('static', filename='images/info.png') }}"></a>
                        <div id="department_name1" class="your-style-h1">{{ employee['name'] }}</div>
                        <div id="department_department1" class="your-style-h2">{{ employee['department'] }}</div>
                        <div id="department_salary1" class="your-style-h2">{{ employee['salary'] }}$</div>
                        <div id="department_date1" class="your-style-h2">{{ employee['date_of_birth'] }}</div>
                    </div>
                {% endfor %}
            </div>
        </div>
        <form method="post">
            {{ form.hidden_tag() }}
            <div id="search1">
                <div id="search_title1" class="your-style-h2">Search</div>
                {{ form.name(class='search_input11', placeholder="Name") }}
                {{ form.department(class='search_input11', placeholder="Department") }}
                <p class="input_title1">Salary </br> {{ form.salary_from(class='search_input12', placeholder="From") }}
                    - {{ form.salary_to(class='search_input12', placeholder="To") }}</p>
                <p class="input_title1">Date of
                    birth </br> {{ form.birth_from(class='search_input12', placeholder="01.01.1991") }}
                    - {{ form.birth_to(class='search_input12', placeholder="01.01.2021") }}</p>
                {{ form.find(id='search_button1', value="Find") }}
                <input id='search_button1' type="reset" value="Reset" name="reset"
                       onclick="return resetForm(this.form);">
                {#                <a href="?" id="search_button1"> Reset </a>#}
            </div>
        </form>
    </div>

    <script>
        function resetForm(form) {
            // clearing inputs
            var inputs = form.getElementsByTagName('input');
            for (var i = 0; i < inputs.length; i++) {
                switch (inputs[i].type) {
                    // case 'hidden':
                    case 'text':
                        inputs[i].value = '';
                        break;
                    case 'radio':
                    case 'checkbox':
                        inputs[i].checked = false;
                }
            }
            return false;
        }
    </script>
{% endblock content %}