{% extends 'base.html' %}
{% block title %}Employee{% endblock %}

{% block content %}
    <div id="table4">
        <div id="header_1">
            <a id='a_1' href="http://127.0.0.1:5000/departments/{{ department['id'] }}"><img id='a_1'
                                                                                             src="/static/images/back.png"/></a>
        </div>
        <div id="employee_pht">
            <img src="/static/images/employee_photo.png/">
        </div>
        <form action="" method="post">
            <div id="add_employee">
                <p class="your-style-h10"><input id='employee_new_name' placeholder="New name" name="employee_name"></p>
                <p class="your-style-h10"><input id='new_employee_salary' placeholder="Salary" name="employee_salary">
                </p>
                <p class="your-style-h10"><input type="date" id='new_employee_birthday' placeholder="Birthday"
                                                 name="employee_birthday"></p>
                <p class="your-style-h11">Department> {{ department['name'] }}</p>
            </div>

            <div id="danylo_add">
                <input type='submit' id="add_employee1" name="add_employee" value="Add">
            </div>
        </form>
    </div>
{% endblock %}