{% extends 'base.html' %}
{% block title %}Employee{% endblock %}

{% block content %}
    <div id="table5">
        <div id="header_2">
            <a id='a_1' href="http://127.0.0.1:5000/employees/{{ employee['id'] }}"><img id='a_1'
                                                                                         src="/static/images/back.png"/></a>
            <h1 class="your-style-h4">{{ employee['name'] }}</h1>
        </div>
        <form action="" method="post">
            <div id="change_name_emp">
                <input id='employee_new_name' placeholder="New name" name="employee_new_name">
            </div>
            <div id="danylo_add">
                <input type='submit' id="edit_employee" name="edit_employee" value="Save">
            </div>
        </form>
    </div>
{% endblock %}