{% extends 'base.html' %}
{% block title %}Employee{% endblock %}

{% block content %}
    <div id="table4">
        <div id="header_1">
            <a id='a_1' href="http://127.0.0.1:5000/employees"><img id='a_1' src="/static/images/back.png"/></a>
        </div>
        <div id="employee_pht">
            <img src="/static/images/employee_photo.png/">
        </div>
        <div>
            <p class="your-style-h9"><a id="a_1" href="/employees/{{ employee['id'] }}/edit_name"><img id='info_image'
                                                                                                       src="/static/images/edit.png"></a>Name> {{ employee['name'] }}
            </p>
            <p class="your-style-h9"><a id="a_1" href="/employees/{{ employee['id'] }}/edit_salary"><img id='info_image'
                                                                                                         src="/static/images/edit.png"></a>Salary> {{ employee['salary'] }}$
            </p>
            <p class="your-style-h9"><a id="a_1" href="/employees/{{ employee['id'] }}/edit_birthday"><img
                    id='info_image' src="/static/images/edit.png"></a>Birthday> {{ employee['birthday'] }}</p>
            <p class="your-style-h9"><a id="a_1" href="/employees/{{ employee['id'] }}/edit_department"><img
                    id='info_image' src="/static/images/edit.png"></a>Department> {{ employee['department'] }}</p>
        </div>
        <form action="" method="post">
            <div id="danylo_add">
                <input type='submit' id="edit_employee" name="remove_employee" value="Remove">
            </div>
        </form>
    </div>
{% endblock %}